@model IEnumerable<AccountingSystem.Models.DisbursementVoucher>
@{
    ViewData["Title"] = "سندات الصرف";
    Layout = "~/Views/Shared/_AccountingLayout.cshtml";
}

<div class="container-fluid">
    <a asp-action="Create" class="btn btn-primary mb-3">سند صرف جديد</a>
    <table class="table table-striped table-hover">
        <thead class="table-dark">
            <tr>
                <th>التاريخ</th>
                <th>الحساب</th>
                <th>العملة</th>
                <th>المبلغ</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var v in Model)
            {
                <tr>
                    <td>@v.Date.ToString("yyyy-MM-dd")</td>
                    <td>@v.Account.NameAr</td>
                    <td>@v.Currency.Code</td>
                    <td>@v.Amount.ToString("N2")</td>
                </tr>
            }
        </tbody>
    </table>
</div>
