@model IEnumerable<AccountingSystem.Models.Supplier>
@{
    ViewData["Title"] = "الموردين";
}
<h1 class="mb-3">الموردين</h1>
<p>
    <a class="btn btn-primary" href="@Url.Action("Create")">إضافة مورد</a>
</p>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>الاسم</th>
            <th>التليفون</th>
            <th>البريد الإلكتروني</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.NameAr</td>
            <td>@item.Phone</td>
            <td>@item.Email</td>
        </tr>
    }
    </tbody>
</table>
