@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.title</title>
    <link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/31.1.21/material.css" />
    <script src="https://cdn.syncfusion.com/ej2/31.1.21/dist/ej2.min.js"></script>
</head>
<body>
    <center>
        <ejs-pdfviewer id="pdfviewer" style="width:1200px;height:1400px" serviceUrl="/api/PdfViewer" DocumentPath="@ViewBag.PrintPreview"></ejs-pdfviewer>
    </center>
    <!-- Syncfusion ASP.NET Core Script Manager -->
    <ejs-scripts></ejs-scripts>
</body>
</html>
